.deal-input{
    width: 80%;
    height: 40px;
     border: 0;
     border-radius: 10px;
     border: 0.5px solid rgb(175, 175, 175);
     margin: 5px;
     padding: 10px;
}
.admin-deal-section{
    margin-left: 15%;
    padding: 20px;
}
.halved-input{
    width: 39%;
}
.add-deals{
   box-shadow:  2px 2px 8px rgba(131, 127, 127, 0.356); 
   border-radius: 20px;
   padding: 30px;
}
.add-deals h2{
    font-weight: 700;
    color: var(--primary-red);
}
.add-deals p{
    margin-bottom: 2px;
    margin-left: 10px;
    font-weight: 600;
}
.description-input{
    width: 80%;
    height: 150px;
}
.plus-icon{
   
    font-weight: 800;
    color:var(--primary-red);
}

  .custom-file-selector-button {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em;
    border: thin solid rgb(175, 175, 175);
    border-radius: 10px;
    cursor: pointer;
    width: 120px;
    margin: 5px;
  }
  
  .custom-file-selector-button span {
    
    color: var(--primary-red);
  }

  .custom-file-selector-button input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
 
.trash-icon{
    color: black;
    font-size: 1em;
   margin-bottom: 2px;
}

.dlt-image{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em;
    border: thin solid rgb(175, 175, 175);
    border-radius: 10px;
    cursor: pointer;
    width: 120px;
    margin: 5px;
}
.dlt-image p{
    margin-left: 0;
}

.all-deals-section{
  margin-left: 15%;
  padding: 20px;

}
.all-deals-section h2{
  color:var(--primary-red);
  font-weight: 700;
}
.deals-table{
  width: 100%;
}
.deals-table tr{
  width: 100%;
  display: flex;
  justify-content: space-around;

}
.deals-table th{
  width: 20%;
  color: var(--primary-red);
}
.deals-table td{
  width: 20%;
}
.table-container {
  width: 100%;
  overflow-x: auto;
}
.option-icon{
  color: #333;
  padding: 5px;
}
.option-icon:hover {
    color: var(--primary-red);
    background-color: #ccc;
    border-radius: 3px;
}
.selected-img{
    width: 100px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #ccc;
}
.add-btn{
    background-color: var(--primary-red);
    color: #fff;
    font-weight: 700;
    border: 0;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    transition: all .3s ease-in-out;

}
.add-btn:hover{
    border: thin solid var(--primary-red);
    color: var(--primary-red);
    background-color: #fff;
}
