nav{
  width: 100%;
  height: 65px;
  color: #fff;
  padding: 4px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  transition: background-color ease .2s;
}
#title-div h3{
  
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-style: italic;
}
.navbar-scrolled {
  background-color: #dc143c; /* Adjust as needed */
  box-shadow: 0px 4px 10px rgba(131, 127, 127, 0.356);
}
.logo{
  border-radius: 50px;
  margin-right: 5px;
  width:2rem;
  height: 2rem;
}
#title-div{
  display: flex;
  margin-left: 5%;
  margin-right: 5px; 
}
.navbar-items{
  margin-right: 50px;
  padding-top: 5px;
}
nav ul li{
 
  display: inline-block;
  align-content: center;
  list-style: none;
  margin: 5px 20px;
  font-weight: 600;
  font-size:18px;
  cursor: pointer;
  transition: all ease 0.5s;
}
nav ul li a{
  width: 150px;
  text-decoration: none;
  color:inherit;

}
nav ul li a:hover{
  font-weight: 700;
  color: #333;
}
.navbar-item{
  width: 150px;
}
.navbar-item:hover{
  font-weight: 700;
  color: #333;
}
.nav-login-btn{
  font-weight: 700;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  border: 1px red;
 cursor: pointer;

}
.inner-page-nav{
  background-color: #dc143c; /* Adjust as needed */
  box-shadow: 0px 4px 10px rgba(59, 50, 50, 0.356);
}
.nav-login-btn:hover{
  color: rgb(230, 98, 98);
}
.package-content h5{
  margin: 1px;
}

.nav-menu-button {
  display: none;
  left: 20px;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}
.navbar-items.active {
 transition: transform 0.5s ease,opacity 0.5s ease;
 transform: translateY(-100%);
 opacity: 0;
 display: none;
}

@media (max-width: 965px) {
  nav{
    height: 60px;
  }
  #title-div h3{
    margin-top:5px;
  }
  .navbar-items {
    width: 100%;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Adjust based on your navbar height */
    left: 0;
    background-color: var(--primary-red);
    padding: 4px 0;
  }

  .navbar-items.active {
    display: flex;
    align-items: center;
    max-height: max-content;
     transform: translateY(0);
     opacity: 1;
     
  }
  .navbar-item:hover{
  font-weight: 700;
  color: #333;
  
}

  .nav-menu-button {
    display: block;
  }
}
