.each-package-section{
    margin-top:5rem;
    padding: 20px;

}
.package-images{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.package-main-img{
    width: 100%;
    border: 0;
    box-shadow: 4px 4px 10px rgba(131, 127, 127, 0.356);
    border-radius: 20px;
}
.package-other-images{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 1rem
}
.sub-img{
    border-radius: 10px;
    width: 15%;
    box-shadow: 4px 4px 10px rgba(131, 127, 127, 0.356);
}
.package-content-div{
    background-color: #33333311;
    color: black;
    font-weight: 500;
    border-radius: 20px;
    padding: 20px;
}
.booking-div h2{
    color: var(--primary-red);
}
.booking-div{
    margin-top: 3rem;
    padding: 20px;
    border-radius: 20px;
    border: 0.5px solid var(--primary-red);
    box-shadow: 4px 4px 10px rgba(131, 127, 127, 0.356);
}
.booking-div p{
    margin: 2px 10px;
    font-size: 14px;
}
.booking-div .booking-input{
    width: 80%;
    height: 40px;
     border: 0;
     border-radius: 10px;
     border: 0.5px solid rgb(175, 175, 175);
     margin: 5px;
     padding: 10px;
}
.booking-div input:active{
   
    border: 1px solid var(--primary-red);
} 


.custom-datepicker { 
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s;
}

.custom-datepicker:focus {
    border-color: var(--primary-red);
}
.checkbox{
    width: 20px;
    margin-left: 10px;
}
.booking-div .book-btn{
    margin: 5px;
    border-radius: 10px;
    background-color: var(--primary-red);
    color: #fff;
    font-weight: 600;
    border: 0;
    width: 80%;
     height: 40px;
     transition:all .3s ease-in-out 
}
.booking-div .book-btn:hover{
    background: none;
    background-color: #fff;
    border: 1px solid  var(--primary-red) ;
    color:  var(--primary-red);
    font-weight: 700;
}
.booking-div .login-btn{
    background: none;
    background-color: #fff;
    border: 1px solid  var(--primary-red) ;
    color:  var(--primary-red);
    font-weight: 700;
    width: 80%;
     height: 40px;
     margin: 5px;
    transition:all .3s ease-in-out ;
}
.booking-div .login-btn:hover{
    
    border-radius: 10px;
    background-color: var(--primary-red);
    color: #fff;
    font-weight: 600;
    border: 0;
    
}

.booking-div h6{
    margin-left: 40%;
}
.booking-div .candidate-count{
    width: 38%;
}
.react-datepicker-wrapper{
    width:100%;
}
