@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
  --primary-red: #dc143c;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  /*font-family: "Quicksand", sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}


.highlights {
  color: var(--primary-red);
}

.flex {
  display: flex;
}

.error-msg {
  text-align: left;
  margin-left: 5px;
  color: red;
  font-weight: 600;
}